{% extends "layout.html" %}
{% block content %}
<main class="container" style="background-color: #d1dd94; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <!-- Sección de búsqueda de cliente -->
    <div class="search-container mb-4">
        <h3>Abonar Crédito</h3>
        <p class="fs-4">Buscar Cliente</p>
        <div class="mb-3">
            <select name="cliente" id="nombreClienteAbon" class="form-select">
                <option value="">Seleccione un cliente</option>
                {% for i in clientes %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</main>
<script>
    const inputNameCustomer = document.getElementById("nombreCliente");
</script>
{% endblock %}
