{% extends "layout.html" %}
{% block content %}
<main class="container" style="background-color: #d1dd94; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <!-- Sección de búsqueda de cliente -->
    <div class="search-container mb-4">
        <h3>Abonar Crédito</h3>
        <p class="fs-4">Buscar Cliente</p>
        <div class="mb-3">
            <select name="cliente" id="nombreClienteAbon" class="form-select">
                <option value="">Seleccione un cliente</option>
                {% for i in clientes %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                {% endfor %}
            </select>
            <button id="creditoCliente" type="button" class="btn btn-primary">Cargar Creditos</button>
        </div>
    </div>

    <!-- tabla con todos los creditos de los clientes-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Credito</th>
                <th scope="col">Monto Pendiente</th>
                <th scope="col">Abonar</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Aquí seañadirán dinámicamente los datos -->
            
        </tbody>
    </table>
</main>
{% endblock %}
