{% extends "layout.html" %}

{% block content %}

<main class="container" style="background-color: #d1dd94; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <div class="d-flex justify-content-between mb-3">        <h3>Cliente</h3>
    </div>
    <form class="row" method="POST" action="/agregarCliente">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" name="nombre">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name" name="apellido">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Celular" aria-label="cellphone" name="celular">
        </div>
        <div class="col">
            <button type="submit" class="btn" style="background-color: #B2C568; color: #fff;">Agregar Cliente</button>
        </div>
    </form>


    {% if boucher %}
  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
      <h5 class="card-title">Se agregó el cliente</h5>
      <div class="datosCliente">
        <p class="card-text">ID Cliente: {{ datos.id }}</p>
        <p class="card-text">Nombre: {{ datos.nombres }}</p>
        <p class="card-text">Apellido: {{ datos.apellidos }}</p>
        <p class="card-text">Celular: {{ datos.telefono }}</p>
      </div>
    </div>
  </div>
    <!--<div class="boucher">
        <div class="confirmacion">
            <span>Cliente agregado con exito</span>
            <div class="datosCliente">
                <p>id Cliente: {{ datos.id }}</p>
                <p>nombre: {{ datos.nombres }}</p>
                <p>apellido: {{ datos.apellidos }}</p>
                <p>celular: {{ datos.telefono }}</p>
            </div>
        </div>
    </div>-->
    {% endif %}
    
</main>

{% endblock content %}