{% extends "layout.html" %}
{% block content %}

<main class="container" style="background-color: #d1dd94; padding: 20px; border-radius: 8px; margin-top: 20px;">
    <!-- Sección de Crédito -->
    <div class="row">
        <!-- Formulario de Crédito -->
        <div class="col-12 col-md-6">
            <h3>Agregar Crédito</h3>
            <form id="credito-form" method="POST" action="/procesar_credito">
                <div class="mb-3">
                    <label for="fecha-credito" class="form-label">Fecha de Adquisición</label>
                    <input type="date" class="form-control" id="fecha-credito" name="fecha_credito" readonly disabled>
                </div>
                <div class="mb-3">
                    <label for="nombreCliente" class="form-label">Cliente</label>
                    <select name="cliente" id="nombreCliente" class="form-select">
                        <option value="">Seleccione un cliente</option>
                        {% for i in clientes %}
                            <option value="{{ i[0] }}">{{ i[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 position-relative">
                    <label for="cicloInput" class="form-label">Producto</label>
                    <input type="text" id="cicloInput" class="form-control" placeholder="Escribe para buscar..." autocomplete="off">
                    <ul id="suggestions" class="list-group mt-1" style="position: absolute; z-index: 1000; display: none;"></ul>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad" min="1">
                    </div>
                </div>
                <div>
                <button type="button" class="btn" id="add-credit-button" style="background-color: #B2C568; color: #fff;">Añadir Crédito</button>
                </div>
            </form>
        </div>

        <!-- Detalles de Crédito -->
        <div class="col-12 col-md-6">
            <h3>Detalles de Crédito</h3>
            <div class="mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se añadirán dinámicamente los datos -->
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-success d-none" id="btn-guardarCredito" style="margin-top: 20px;">Guardar Credito</button>
    </div>
</main>

<script>
    const options = {{ producto | safe }};
    const input = document.getElementById("cicloInput");
    const suggestions = document.getElementById("suggestions");
    const tableBody = document.querySelector("table tbody");
    const addButton = document.getElementById("add-credit-button");
    const totalCredito = document.getElementById("credito-total");
    const guardarCredito = document.getElementById("btn-guardarCredito");
    const listaProductos = []; // Aseguramos que esto sea siempre un array
    const inputNameCustomer = document.getElementById("nombreCliente");
    
    input.addEventListener("input", () => {
        const query = input.value.toLowerCase();
        suggestions.innerHTML = "";
        suggestions.style.display = "none";
    
        if (query) {
            const matches = options.filter(option =>
                option.toLowerCase().includes(query)
            );
    
            if (matches.length) {
                matches.forEach(match => {
                    const li = document.createElement("li");
                    li.textContent = match;
                    li.className = "list-group-item list-group-item-action";
                    li.addEventListener("click", () => {
                        input.value = match;
                        suggestions.style.display = "none";
                    });
                    suggestions.appendChild(li);
                });
                suggestions.style.display = "block";
            }
        }
    });
    
    document.addEventListener("click", (e) => {
        if (!suggestions.contains(e.target) && e.target !== input) {
            suggestions.style.display = "none";
        }
    });
    
    const fechaInput = document.getElementById("fecha-credito");
    const hoy = new Date();
    const fechaActual = hoy.toISOString().split("T")[0];
    fechaInput.value = fechaActual;
    
    addButton.addEventListener("click", () => {
        const product = input.value;
        const quantity = document.getElementById("cantidad").value;
        
        inputNameCustomer.disabled = true;
        guardarCredito.classList.remove("d-none");
    
        if (product && quantity) {
            const isValidProduct = options.includes(product);
            if (!isValidProduct) {
                alert("Por favor, seleccione un producto válido.");
                return;
            }
    
            const row = document.createElement("tr");
            row.innerHTML = `
                <td>${product}</td>
                <td>${quantity}</td>
            `;
            tableBody.appendChild(row);
    
            // Aseguramos que listaProductos sea siempre un array antes de agregar
            if (Array.isArray(listaProductos)) {
                listaProductos.push({ producto: product, cantidad: quantity });
            } else {
                console.error("listaProductos no es un array. Restableciendo...");
                listaProductos.length = 0;
                listaProductos.push({ producto: product, cantidad: quantity });
            }
            input.value = "";
            document.getElementById("cantidad").value = "";
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Por favor, complete todos los campos.'
            });
        }
    });
    guardarCredito.addEventListener("click", () => {
        if (!listaProductos.length) {
            Swal.fire({
                title: 'Error!',
                text: 'No hay productos en la lista.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
    
        const cliente = document.getElementById("nombreCliente").value;
        if (!cliente) {
            Swal.fire({
                title: 'Error!',
                text: 'El nombre del cliente no puede estar vacío.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
    
        fetch('/guardarCredito', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                'cliente': cliente,
                'productos': listaProductos
            })
        }).then(response => {
            if (!response.ok) {
                throw new Error(`Error en la respuesta del servidor: ${response.statusText}`);
            }
            return response.json();
        }).then(data => {
            Swal.fire({
                title: 'Exito!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'Aceptar'
            })
            .then(() => {
                location.reload();
            });
        }).catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: 'Error!',
                text: error.message,
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        });
    });
    
</script>

<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>

{% endblock %}
